# Next.js build output
.next/
out/

# Node.js dependencies
node_modules/

# Package manager files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git
.git/
.gitignore

# Environment variables
.env*.local

# Testing
coverage/

# Misc
*.log
README.md
