services:
  client:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: client-app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://localhost:3000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge