.Header {
  width: 100%;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32c4d0;
}

.Button {
  margin-left: 1rem;
}